extends layout

block content
    .w3-container
        h1 CLAV: Classificação e Avaliação da Informação Pública
        p A CLAV é uma plataforma em desenvolvimento no DI/UM em parceria e sob encomenda da Direção Geral do Livro, Arquivos e Bibliotecas (DGLAB) que visa a classificação e a avaliação de toda a documentação circulante na administração pública portuguesa.
        h2 Lista de Entidades
        table.w3-table-all
            tr
                th Sigla
                th Designação
                th Detalhes
            each entidade in entidades
                tr
                    td= entidade.sigla
                    td= entidade.designacao
                    td
                        a(href='/entidade/'+entidade.sigla) Ver
